<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-sm">
        <div class="card-body p-4">
          
          <h2 class="text-green-primary mb-4">Abrir Novo Chamado</h2>

          <form (ngSubmit)="handleNovoChamado()">
            
            <!-- Título -->
            <div class="mb-3">
              <label for="titulo" class="form-label">Título</label>
              <input type="text" class="form-control" id="titulo" name="titulo"
                     placeholder="Ex: Monitor não liga, Impressora travada"
                     [(ngModel)]="titulo" required>
            </div>

            <!-- Categoria e Prioridade FORAM REMOVIDOS -->

            <!-- Descrição -->
            <div class="mb-3">
              <label for="descricao" class="form-label">Descrição do Problema</label>
              <textarea class="form-control" id="descricao" name="descricao" rows="5"
                        placeholder="Descreva o problema em detalhes. O que você tentou fazer? Qual a mensagem de erro? Qual o número do patrimônio (se aplicável)?"
                        [(ngModel)]="descricao" required></textarea>
            </div>

            <!-- Botão de Submit -->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="submit" class="btn btn-primary px-4" [disabled]="isLoading">
                <span *ngIf="!isLoading">Abrir Chamado</span>
                <span *ngIf="isLoading">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Salvando...
                </span>
              </button>
            </div>
              <div class="mb-3">
                <label for="anexo" class="form-label">Anexar Print (Opcional):</label>
                <!-- (change) chama a nossa nova função no .ts -->
                <input type="file" class="form-control" id="anexo"
                      (change)="onFileSelected($event)">
              </div>
            <!-- Mensagens -->
            <p *ngIf="mensagemErro" class="alert alert-danger text-center mt-3">
              {{ mensagemErro }}
            </p>
            <p *ngIf="mensagemSucesso" class="alert alert-success text-center mt-3">
              {{ mensagemSucesso }}
            </p>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>